
        @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background-color: #E4E4E4;
            max-height: 100vh;
            /* overflow: hidden; */
        }
        .anton__font {
            font-family: 'Anton', sans-serif;
        }
        body main{
            max-width: 1000px;
            margin: auto;
            min-height: 100vh;
            position: relative;
            display: flex;
            flex-direction: column;
    
        }
        h1{
            letter-spacing: 0.2rem;
            font-style: italic;
            font-size: 5rem;
            line-height: 5rem;
            color: #C10B1F;
        }
        h1 span{
            color: #00004D;
        }
        .upper__head{
            padding: 5rem 2rem;
        }
        .upper__head .basket__img{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 5rem;
    
        }
        
        .lower__part{
            background-color: #00004D;
            height: max-content;
            clip-path: polygon(0 12%, 93% 0, 107% 100%, 7% 100%);
            margin-top: -9rem;
            padding: 6rem 4rem 2rem 4rem;
            display: flex;
            flex-grow: 1;
        }
        .upper__head .batch__image{
            position: absolute;
            right: 3rem;
            top: 8rem;
        }
        .lower__part .code{
            background-color: white;
            color: #D83030;
            padding: 1rem 1rem;
            width: max-content;
            border-radius: 40px;
            font-family: "Righteous", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 2.5rem;
            /* margin-top: 5rem; */
        }
        .lower__part .off{
            color: white;
            font-size: 2.5rem;
            margin-top: 1rem;
            font-family: 'Anton', sans-serif;
        }
        .lower__left{
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .lower__right{
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            flex-grow: 1;
        }
        .simple-text{
            color: white;
            font-size: 1rem;
            margin-top: 0.3rem;
            font-family: "Montserrat", sans-serif;
            position: relative;
            left: -1rem;
        }
        .lower__right .desc{
            color: white;
            font-size: 1.3rem;
            margin-top: 1rem;
            font-family: "Montserrat", sans-serif;
            text-align: center;
        }
        @media (max-width: 842px) {
            h1{
                font-size: 3rem;
                line-height: 3rem;
            }
            body{
                overflow: scroll;
            }
            main{
                display: flex;
                flex-direction: column;
            }
            .lower__part{
                flex-direction: column;
                margin-top: -6rem;
                height: max-content;
                flex-grow: 1;
            }
            
            .basket__img{
                width: 300px;
            }
            .batch__image img{
                width: 130px;
            }
            .lower__part .code{
                font-size: 1.5rem;
            }
            .lower__part .off{
                font-size: 1.3rem;
            }
            .lower__part .simple-text{
                font-size: 0.7rem;
                left: auto;
            }
            .lower__part .book__now__img{
                width: 150px;
            }
            .lower__part .eagle__moving__group{
                width: 200px;
            }
            .lower__part .desc{
                font-size: 0.9rem;
            }
        }
